.topCard {
  font-family: 'Cabin';
  padding: 2.5% 0%;

  .breadCrumb {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(43, 43, 43, 0.6);

    a {
      text-decoration: underline;
    }
  }

  .mainContainer {
    width: 100% !important;
    border-color: $gray-border;
    display: flex;

    .topCardImage {
      object-fit: contain;
      border-radius: 6px;
      padding: 7px;
      max-height: 280px;
      height: 280px;
    }

    .body {
      padding-left: 5.5%;
      height: 100%;

      .title {
        font-size: 20px;
        font-weight: 700;
        color: $c-black;
      }

      .description {
        font-weight: normal;
        font-size: 14px;
        color: $c-black-20;
        font-style: normal;
        letter-spacing: 0.3px;
      }

      .lastOnline {
        margin-left: 5%;
        color: $c-black-20;
        font-size: 12px;
        font-weight: normal;

        &:before {
          content: ' \2219 ';
          margin-right: 8px;
        }
      }

      .minuteRead {
        position: absolute;
        bottom: 10%;
        right: 3%;
        font-size: 12px;
        font-weight: 600;
        color: $c-black-20;

        .readFull {
          display: flex;
          align-items: center;
          color: $c-primary;
          font-size: 12px;
          font-weight: bold;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    .name {
      font-size: 12px;
      font-family: 'Cabin';
    }
  }
}
