.dropdown {
  &.btn-group {
    .dropdown-toggle {
      &.btn {
        min-width: rem(200);
        height: rem(50);
        padding-right: rem(52);
        padding-left: rem(20);
        text-align: left;
        border-radius: rem(4);
        @include font('Cabin', 600, rem(16), unset, rem(0.3));

        &::after {
          background-image: url('../../public/images/icon/dropdown-icon.svg');
          background-repeat: no-repeat;
          width: rem(18);
          height: rem(8);
          border: none;
          position: absolute;
          top: 50%;
          right: rem(22);
          transform: translateY(-50%);
        }

        &.btn-secondary {
          border: rem(1) solid $text-color-black-1-20;
          color: $black;
        }
      }
    }

    .dropdown-menu {
      width: 100%;
      padding: 0;

      .dropdown-item {
        @include font('Cabin', 600, rem(16), unset, rem(0.3));
        color: $black;
        padding-top: rem(8);
        padding-bottom: rem(8);
        padding-left: rem(20);

        &.active {
          background-color: $primary-color;
          color: $secondary-color;
        }
      }
    }
  }
}
